.TodoItem {
    background-color: #FAFAFA;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow-wrap: break-word;
}

.TodoItem:hover {
    transform: translateY(-4px);
    box-shadow: 0px 10px 50px rgba(32, 35, 41, 0.2);
}

.TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.TodoItem-p--complete {
    text-decoration: line-through;
}