.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f8f8f8;
}

.error-icon {
    font-size: 48px;
    color: #ff3b3f;
    margin-bottom: 20px;
}

.error-message {
    font-size: 24px;
    color: #333;
    text-align: center;
}